body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  background: linear-gradient(to bottom, #F0F8FF, #4A5E71 );
  color: #C4E1DE; /* Цвет основного текста */
}

h1 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Bahnschrift, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
  color: black;
}

h2 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 18pt; /* Размер шрифта в пунктах */
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
  color: black;
}

h3 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 20pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
  color: black;
}

h4 {
  color: #a52a2a; /* Цвет заголовка */
  font-size: 20pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
  color: black;
}

a:link {
    color: gray; /* Цвет ссылок */
   }
   a:visited {
    color: gray; /* Цвет посещенных ссылок */
   }
   a:active {
    color: black; /* Цвет активных ссылок */
   }
.c1 {
	color: blue;
	}
.column {
	-webkit-column-width: 100px;
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	column-rule: 4px solid White;
   }

.column2 {

	width: 1000px;
  background: white;
  padding: 5px;
  padding-right: 20px;
  padding-bottom: 300px;
  padding-left: 25px;
  margin-left:200px;
  float: middle;
	color: #5e5e5e; /* Цвет основного текста */
	font-family: Times New Roman;
	font-size: 16pt;
	line-height: 1.5;
  position: relative;
  top: 60px;
  left: auto;
}

.column3 {
	width: 400px;
  background: white;
  padding: 5px;
  padding-right: 20px;
	margin-left:1300px;
  float: middle;
	color: #5e5e5e; /* Цвет основного текста */
	font-family: Times New Roman;
	font-size: 14pt;
	line-height: 1.5;
  position: absolute;
  top: 380px;
  left: 5px;
  line-height: 1.5;
}

.column_button {
	width: 1000px;
  height: 31px;
  background: #90A0B4;
  padding: 5px;
  padding-right: 520px;
  padding-top: 13px;
	margin-left:200px;
  float: middle;
}

.column_console {
  font-family: Consolas;
	width: 940px;
  background: #323232;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left:20px;
  float: middle;
	color: #a9b7c6; /* Цвет основного текста */
	font-size: 16pt;
	line-height: 1.5;
  padding-left: px; /* Расстояние от линии до текста */
  border-right: 3px solid #ffffff;
  border-radius: 10px
}

.column_code {
  font-family: Consolas;
	width: 940px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left:20px;
  float: middle;
	color: #a9b7c6; /* Цвет основного текста */
	font-size: 16pt;
	line-height: 1.5;
  border: 3px solid #C0C0C0;
  border-radius: 10px
}

.thumb img  {
    border: 2px solid White; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-left: 50px; /* Отступ справа */
    margin-right: 170px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }

a.button1 {
  font-weight: 100;
  font-family: Bahnschrift;
  font-size: 13pt;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	background: #90A0B4;
	transition: 0.2s;
}
a.button1:hover { background: #808080; }
a.button1:active {
  background: #0082ad);
}

ul {
  list-style-image: url('assets\img\p_logo_s2.png');
}

ol.list_code {
  color: #606366;
  text-indent: 30px;
}

.letter {
   color: red; /* Цвет символа */
   font-size: 200%; /* Размер шрифта */
}
b {
  color: #C71585;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}



/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

/* Setup Tabs */

ul{
   background:#000;
   width:125px; /* Width of Tab Image */
   float: left;
   list-style: none;
   border-right:8px solid black;
}

ul li{
   height:75px; /* Height of Tab Image */
}

/* Setup Tab so normal opacity is 40 and rollover is 100 */
ul li a img{
   /* for IE */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   filter:alpha(opacity=40);

   /* CSS3 standard */
   opacity:0.4;

}

/* Change Opacity to 100% on roll over */
ul li a:hover img{

   /* for IE */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter:alpha(opacity=100);

   /* CSS3 standard */
   opacity:1.0;
}

/* Places images to the right of the tabs,
and hides non selected images */
#images{
   width:500px;
   height:300px;
   overflow:hidden;  /* Hides the non selected images */
   float:left;
}

/* Places a black border around the entire viewer
and centers it on the screen */
#wrapper{
   width:633px;
   height:300px;
   border:8px solid black;
   margin:0px auto;
}
